<!doctype html>
<html lang="en-US">
<head>
    <title>{{ data.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <style type="text/css"> body { padding-top: 60px; } </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontomizer.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="./" class="brand">{{ data.title }}</a>
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#home" data-toggle="tab"><i class="icon-home"></i> Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#menu"><i class="icon-fire"></i> Menu</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container row-fluid">
        <div class="span3">
            <ul class="nav nav-list">
                <li class="nav-header">Our Works</li>
                <li class="divider"></li>
                <li class="active"><a href="#calculator" data-toggle="tab"><i class="icon-star"></i> Calculator</a></li>
                <li><a href="#something" data-toggle="tab"><i class="icon-star"></i> Something</a></li>
            </ul>
        </div>
        <div class="span9 container tab-content">
            <div class="tab-pane active" id="calculator">
                <h3>Calculator</h3>
                <p>
                    Some description
                </p>
                <p>
                    Go to <a href="calculator">app</a>
                </p>
            </div>
            <div class="tab-pane" id="something">
                <h3>Something</h3>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <!-- Undersore -->
    <script src="{{ url_for('static', filename='js/underscore.min.js') }}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
