<!doctype html>
<html lang="en-US">
<head>
    <title></title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/padder.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontomizer.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <!-- Undersore -->
    <script src="{{ url_for('static', filename='js/underscore.min.js') }}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
