<!doctype html>
<html lang="en-US">
<head>
    <title>For All</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/padder.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontomizer.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="brand">Zeek</div>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="#message" data-toggle="tab">
                                <i class="icon-envelope"></i> Message
                            </a>
                        </li>
                        <li>
                            <a href="#reason" data-toggle="tab">
                                <i class="icon-key"></i> Reason
                            </a>
                        </li>
                        <li>
                            <a href="#lastWord" data-toggle="tab">
                                <i class="icon-signout"></i> Last Word
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container well">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="message">
                <h3>iPhone, iPad, iTunes, iCloud, iQuit</h3>
                <p>
                    Gua tau ini gila, tapi dengan commit-nya revisi ini gua menyatakan diri untuk mundur dari
                    t193r. Ini bukan gertakan atau kekesalan semata. Tapi gua ngerasa t193r kehilangan
                    taste-nya sebagai grup pentest dikarenakan gua. Gua yang terlalu berambisi buat menciptakan
                    suasana coding a.l.a programmer di lingkungan t193r, tapi ngelupain esensial t193r sebagai
                    pentester.
                </p>
                <p>
                    So, gimana dengan repositoridi github? Gua akan menghapus repo repo ini:
                    <ul class="paragraph">
                        <li>learngit</li>
                        <li>pythonkungfu</li>
                        <li>netherstrike</li>
                    </ul>
                    <p>
                        Dan mengundurkan diri dari berbagai repo kontribusi t193r. Atau mungkin ada pemindahan
                        kepemilikan, nanti akan dibahas. How about business? I quit. Kita bicarain lagi ini nanti.
                        Intinya gua udah gak mau ngerusak citra t193r lagi dengan kegiatan-kegiatan gua yang
                        menyesatkan dan melenceng dari pentest.
                    </p>
                </p>
            </div>
            <div class="tab-pane fade" id="reason">
                <h3>The Idea and The Name of Zeek</h3>
                <p>
                    Alasan utama kenapa gua mengundurkan diri dari t193r adalah karena gua menginginkan t193r
                    kembali seperti sebelumnya, yang ditakuti di bidang pentesting. Kenapa gua gak bisa?
                    Well, gua gak tertarik lagi untuk fokus di dunia ini, gua lebih tertarik di dunia development
                    dan gua rasa gua gak cocok di t193r *anymore*.
                </p>
                <p>
                    Mungkin power gua terlalu mendominasi kalian, jadi kalian terlalu konsen di programmer dan
                    gak fokus lagi di pentesting. Orang-orang seperti gua emang harus dimusnahkan dari antara
                    kalian, hwhwhwhw. Karena gua berbahaya untuk integritas kalian.
                </p>
                <p>
                    Gua berpikir kalo blusp10it udah gak pantes lagi gua sandang, karena gua udah gak mainan
                    pentest lagi, blusp10it itu hacker, dan gua programmer :| Jadi gua juga memutuskan nama IT
                    gua yang baru, now call me 'Zeek' :D
                </p>
                <p>
                    Gua gak akan pernah buat komunitas lagi, karena gua gak mau terkesan mau menyaingi t193r dan
                    membuat perpecahan di sana-sini. Tetep fokus aja ke jalan kalian, toh gua masih mau buat
                    ngajarin kalian ngoding, jadi jangan takut kehilangan sesuatu.
                </p>
            </div>
            <div class="tab-pane fade" id="lastWord">
                <h3>Zeek's Last Word to The Community</h3>
                <p>
                    Gua akan tetep mengingat bahwa t193r-lah yang membuat gua jadi orang yang <i>geek</i>. Gua
                    mau kasih saran untuk kalian, jangan pernah lupain t193r, Backtrack (Kali Linux), dan
                    dunia Pentest, karena dari situlah t193r bernafas. Tetep kreatif, dan jangan mau jadi
                    <i>script kiddie</i> yang cuma bisa pakek tools buatan orang untuk hacking, buat sendiri
                    tools-nya, amati cara kerja sistem, dan dokumentasikan (sharing).
                </p>
                <p>
                    Akhir kata, sekian. Semoga t193r tetep sukses. Dan kalo butuh pengajar untuk ngajarin Python,
                    bisa hubungi gua secara private di Facebook. Karena gua udah gak terbang di bawah bendera
                    t193r lagi, jadi kita belajar secara private aja. Dan gua gak akan ngajar di Xinix lagi,
                    soalnya udah terlalu pribadi kalo mau ngajar di sana tanpa ada wadah komunitas yang
                    menggerakkan. Kita janjian belajar aja di tempat Agus atau Irfan.
                </p>
                <p>
                    Sekian dari saya, happy pentesting (=
                </p>
                <div class="well">
                    <i class="icon-quote-left"></i> <i class="icon-quote-right"></i>
                    <br>
                    <i class="big">
                        Jangan pernah menyayangkan sebuah pengorbanan, jika itu sudah terlalu sakit dan kamu tau
                        itu adalah cara yang salah, berhentilah dan jangan ragu untuk berputar arah.
                    </i>
                    <br>
                    <b class="by">Krisan Alfa Timur a.k.a Zeek</b>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <!-- Undersore -->
    <script src="{{ url_for('static', filename='js/underscore.min.js') }}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
