@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url('../fonts/roboto-condensed.woff') format('woff');
}

@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  src: local('NovaMono'), url('../fonts/nova-mono.woff') format('woff');
}

/* Regular Font */
body {
  font-family: "Roboto Condensed";
}

input,
button,
select,
textarea {
  font-family: "Roboto Condensed";
}

.navbar-search .search-query {
  padding: 4px 14px;
  margin-bottom: 0;
  font-family: "Roboto Condensed";
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}
/* End of Regular Font */

/* Fixed Width Font */
code,
pre {
  padding: 0 3px 2px;
  font-family: "Nova Mono";
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
/* End of Fixed Width Font */
